body {
    background-color:black 
	
}

/*MENÚ*/
#menu #logo {
    font-family: 'Raleway', sans-serif;
	color:#f2f2f2;
	font-size:26px;
	margin:20px 0px 20px 0px;
    padding:10px;
}

#menu ul {
    list-style:none;
    padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
	background:#2f4b3e;
   }
   
   /* enlaces del menu */
   
   #menu ul a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    line-height:normal;
    font-weight:530;
    font-size:17px;
    padding:15px;
    letter-spacing:1px;
    margin:20px 0px 20px 0px;
   }


   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#f56f3a;
   }

   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#2f4b3e;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }





/*INFORMACION*/

section{
    display: -webkit-flex;
    display: flex;
	width:100%;
}


#mi_foto{
    float: left;
    width: 400px;
    height: 400px;
    padding: 20px;
    
}

#mi_foto2{
    float: left;
    width: 350px;
    height: 450px;
    padding: 20px;
    
}

#mi_foto3{
    float: left;
    width: 450px;
    height: 400px;
    padding: 20px;
    
}

article{
    float: left;
    padding: 20px;
    width: 70%;
    height:300px;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: rgb(8, 114, 61);
    text-align: center; 
    font-size:40px;
}

section::after{
    content: "";
    display: table;
    clear: both;
}

p {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size:20px;
    width: 95%;
    text-align: justify;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(31, 126, 79);
    text-align:left; 
    font-size:20px;
}



/*SITUACION LABORAL*/


#contenido {
    
    float:left;
    height:500px;
    padding:10px;
    width:900px;
}
  
#menuizq {
    float:left;
    height:480px;
    padding:30px;
    width:180px;
    margin:20px;
}
  
#menuizq a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    line-height:normal;
    font-weight:530;
    font-size:18px;
    padding:25px;
    letter-spacing:1px;
    margin:20px;
   }




/*FORMULARIO*/

   :root {
    --green: #0d7060;
    --red: #e31b23;
    --bodyColor: #292a2b;
    --borderFormEls: hsl(0, 0%, 10%);
    --bgFormEls: hsl(0, 0%, 14%);
    --bgFormElsFocus: hsl(0, 7%, 20%);
  }
 
  input,
  select,
  textarea,
  button {
    font-family: 'Raleway', sans-serif;
    font-size: 100%; 
    Color: #292a2b;
    
  }
  button,
  label {
    cursor: pointer;
    background:#5c8d76;
  }
  select {
    appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 var(--white);
  }
  textarea {
    resize: none;
  }
 
  @media screen and (min-width: 600px) {
    .miformulario .grid {
      display: grid;
      grid-gap: 1.5rem;
    }
    
    .miformulario .grid-2 {
      grid-template-columns: 1fr 1fr;   
    }
    .miformulario .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
     
    }
  }

.miformulario select,
.miformulario input,
.miformulario textarea,
.miformulario button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.miformulario textarea {
  height: 170px;
}
.miformulario ::placeholder {
  color: inherit;
  opacity: 1;
}

.miformulario select:focus,
.miformulario input:focus,
.miformulario textarea:focus,
.miformulario button:focus {
  background: var(--bgFormElsFocus);
}
.miformulario select:focus,
.miformulario input:focus,
.miformulario textarea:focus {
  transform: scale(1.02);
}

.miformulario *:required,
.miformulario select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}
.miformulario *:required {
  background-image: url(asterisk.svg);  
}
.miformulario select {
  background-image: url(down.svg);
}

.miformulario .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
    
    
  }
  .miformulario button:enabled:hover,
  .miformulario button:focus {
    background: var(--bgFormElsFocus);
  }
  .miformulario button > * {
    
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  .miformulario button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
    
  }
  .miformulario button:enabled:hover .back,
  .miformulario button:focus .back {
    transform: translate(-50%, -50%);
  }
  .miformulario button:enabled:hover .front,
  .miformulario button:focus .front {
    transform: translateX(110%);
  }

  
  input[type="submit"] {
    
    padding: 6px 30px;
    font-size: 14px;
    background:#48705e;
    color: #fff;
    border: none
  }
  
  input[type="reset"] {
    
    padding: 6px 30px;
    font-size: 14px;
    background:#48705e;
    color: #fff;
    border: none
  }